.doctor-details-container {
  padding-left: 18vw;
  padding-top: 15vh;
  background-color: #f0f9ff;
  height: 100vh;
}

.doc-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.doc-image {
  width: 50%;
  height: 60vh;
  display: flex;
}

.doc-image img {
  border-radius: 100px;
  width: 90%;
  height: 100%;
}

.doc-info {
  display: flex;
  flex-flow: column;
  width: 30%;
  gap: 10px;
}

.doc-info .doc-name {
  align-self: end;
  color: blue;
  font-weight: bold;
  margin-bottom: 8px;
}

.doc-specialisation,
.doc-fee {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bolder;
  font-size: 1.1rem;
  border-radius: 5px;
  justify-content: space-between;
  background-color: #bbf7d0;
}

.doc-specialisation p,
.doc-fee p,
.make-appointment-btn p {
  margin: 0;
  padding: 0;
}

.doc-slogan p {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: bolder;
  font-style: italic;
}

.make-appointment-btn {
  background-color: #65a30d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px 15px;
  border-radius: 50px;
  align-self: center;
  text-decoration: none;
}

.make-appointment-btn:hover {
  color: #65a30d;
  background-color: white;
  border: 1px solid #65a30d;
}

.doc-specialisation p:nth-child(2),
.doc-fee p:nth-child(2) {
  color: #7c3aed;
  font-size: 1.2rem;
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  .doctor-details-container {
    padding-top: 12vh;
  }

  .doc-section {
    flex-flow: column;
    justify-content: space-between;
    gap: 30px;
  }

  .doc-image {
    padding-left: 5vw;
    width: 60vw;
    height: 40vh;
  }

  .doc-info {
    width: auto;
  }

  .doc-info .doc-name {
    align-self: center;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .doctor-details-container {
    padding-top: 0;
    padding-left: 0;
    width: 100%;
    margin: 0 0;
  }

  .doc-section {
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    gap: 7px;
    width: 90%;
    margin: 0 auto;
    padding-top: 7vh;
  }

  .doc-image {
    display: flex;
    justify-content: center;
    width: 80vw;
    border-radius: 50%;
  }

  .doc-info {
    width: auto;
  }

  .doc-info .doc-name {
    align-self: center;
    font-size: 1.4rem;
  }

  .doc-info .doc-name h3 {
    margin: 0;
  }

  .doc-specialisation,
  .doc-fee p {
    font-size: 0.8rem;
  }

  .doc-slogan p {
    margin-top: 0;
    font-size: 0.8rem;
  }

  .make-appointment-btn {
    font-size: 1.3rem;
    padding: 10px 15px;
  }

  .doc-specialisation p:nth-child(2) {
    font-size: 0.8rem;
  }
}
