.all-doctors {
  margin-left: 24vw;
  width: 72vw;
  margin-bottom: 10vh;
}

.all-doctors h1 {
  text-align: center;
  margin: 5vh 0;
  font-weight: bold;
}

.doctor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  padding: 20px;
  margin: 20px;
}

.doctor-image {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.doctor-image img {
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 95%;
  border-radius: 50%;
}

.doctor .doctor-info {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doctor .doctor-info h4,
.doctor .doctor-info p {
  display: flex;
  text-align: center;
  justify-content: center;
}

.dctr-list div a {
  text-decoration: none;
  color: gray;
  font-size: 22px;
}
