.formSet {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  height: 100vh;
  background-color: rgb(154, 226, 154);
  align-items: center;
}

.formSet h3 {
  color: white;
}

.formSet form {
  margin-top: 5vh;
}

.formSet .form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formSet input,
.formSet select {
  height: 8vh;
  width: 25vw;
  border-radius: 70px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
}

.text {
  color: gray;
}

.formSet .bt-submit {
  background-color: white;
  color: rgb(154, 226, 154);
  border: 1px solid white;
  font-weight: 600;
}

.appointments-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: url('../../images/doctor-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.my-appointments {
  background-color: rgba(235, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  width: 70%;
  margin: 0 0 0 10vw;
  display: flex;
  flex-flow: column;
  padding: 50px;
  gap: 15px;
  list-style-type: none;
  border-radius: 10px;
}

.title {
  align-self: center;
  color: blue;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.appointment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  padding: 10px;
  border-radius: 8px;
}

.appointment p {
  margin: 0;
  padding: 0;
}

.appointment-btn {
  padding: 5px 15px;
  color: red;
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  font-weight: bold;
}

.appointment-btn:hover {
  color: white;
  background-color: red;
}

@media only screen and (max-width: 768px) {
  .formSet {
    margin: 0;
    padding: 18vh 0 0;
    height: 100vh;
  }

  .formSet .form-row {
    display: flex;
    flex-direction: column;
    line-height: 10vh;
  }

  .formSet input,
  .formSet select {
    /* width: 30vw; */
    height: 8vh;
    width: 70vw;
    border-radius: 70px;
  }

  .appointments-container {
    justify-content: start;
    padding-top: 15vh;
  }

  .my-appointments {
    width: 95%;
    margin: 0 1vh;
    padding: 10px;
  }

  .title {
    font-size: 1.2rem;
  }

  .appointment h4 {
    font-size: 1rem;
  }

  .appointment-btn {
    padding: 3px 8px;
    font-size: 0.8rem;
  }

  .formSet h3 {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 620px) {
  .formSet {
    margin: 0;
    padding: 18vh 0 0;
    height: 100vh;
  }

  .formSet .form-row {
    display: flex;
    flex-direction: column;
    line-height: 10vh;
  }

  .formSet input,
  .formSet select {
    /* width: 30vw; */
    height: 8vh;
    width: 70vw;
    border-radius: 70px;
  }

  .appointments-container {
    justify-content: start;
    padding-top: 15vh;
  }

  .my-appointments {
    width: 95%;
    margin: 0 1vh;
    padding: 10px;
  }

  .title {
    font-size: 1.2rem;
  }

  .appointment h4 {
    font-size: 1rem;
  }

  .appointment-btn {
    padding: 3px 8px;
    font-size: 0.8rem;
  }
}
