.register-section {
  background-image: url("../../images/doctor-background.jpg");
  background-size: cover ;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  }

.register-container {
  background-color: rgba(235, 245, 255, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 50px;
  border-radius: 10px;
}

.register-title {
  text-align: center;
  color: blue;
}

.register-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

form input {
  padding: 10px;
  border: 1px hidden;
  border-radius: 5px;
}

#form-submit {
  padding: 6px 20px;
  background-color: white;
  color: #77b5fe;
}

#form-submit:hover {
  background-color: #77b5fe;
  color: white;
}
