.sidebar {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  width: 180px;
}

.nav {
  margin: 0;
  position: fixed;
  top: 40%;
  display: flex;
  gap: 5px;
}

.nav-item {
  width: 179px;
  padding: 8px;
}

.nav-item:hover {
  background-color: greenyellow;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 30px;
}

.sidebar img {
  position: fixed;
  left: 35px;
}

.nav-icons {
  position: fixed;
  bottom: 0;
  left: 5px;
  padding: 0;
  list-style: none;
  margin: 0 0 10px !important;
  display: flex;
  gap: 5px;
  justify-content: space-between !important;
  align-items: center;
}

.nav-icons li {
  background-color: white;
  border-radius: 50%;
  padding: 8px 5px;
}

.nav-icons li a {
  text-decoration: none;
  color: blue;
  font-size: 17px;
  text-align: center;
  margin: 0 !important;
}

.nav-icons li:hover {
  background-color: blue;
}

.nav-icons li a:hover {
  color: white;
}
